<div class="youtube-widget-container">
  {{#if isGM}}
    <label>YouTube URL:</label>
    <input type="text" id="yt-url-{{appId}}" value="{{current}}" placeholder="https://www.youtube.com/watch?v=xxxxxx"/>
    <button id="add-to-playlist-{{appId}}">Add to Playlist</button>
  {{/if}}

  <div id="yt-player-{{appId}}"></div>

  {{#if isGM}}
    <div class="yt-controls">
      <button id="yt-play-{{appId}}">▶ Play</button>
      <button id="yt-pause-{{appId}}">⏸ Pause</button>
      <button id="yt-sync-{{appId}}">🔄 Sync</button>
    </div>
  {{/if}}

  <hr/>
  <h4>Playlist</h4>
  <ul>
  {{#each playlist}}
    <li>
      {{this}}
      {{#if ../isGM}}
        <button class="play-video" data-url="{{this}}">▶</button>
      {{/if}}
    </li>
  {{/each}}
  </ul>
</div>
