<div class="youtube-widget-container">
  {{#if isGM}}
    <label>YouTube URL:</label>
    <input type="text" id="yt-url-{{appId}}" placeholder="https://www.youtube.com/watch?v=xxxxxx"/>
    <button id="add-to-playlist-{{appId}}">Add to Playlist</button>
  {{/if}}

  {{#if currentEmbed}}
    <iframe id="yt-player-{{appId}}" src="{{currentEmbed}}" frameborder="0" allowfullscreen></iframe>
  {{else}}
    <p>No video loaded yet.</p>
    <div id="yt-player-{{appId}}"></div>
  {{/if}}

  {{#if isGM}}
    <div class="yt-controls">
      <button id="yt-play-{{appId}}">▶ Play</button>
      <button id="yt-pause-{{appId}}">⏸ Pause</button>
      <button id="yt-sync-{{appId}}">🔄 Sync</button>
    </div>
  {{/if}}

  <hr/>
  <h4>Playlist</h4>
  <ul>
    {{#each playlist}}
      <li>
        <span>{{#if this.label}}{{this.label}}{{else}}https://youtu.be/{{this.id}}{{/if}}</span>
        {{#if ../isGM}}
          <button class="play-video" data-id="{{this.id}}">▶</button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
